<country-carousel></country-carousel>
<div class="search-container">  
  <h4>Search country by its name</h4>
  <p>Enter the first letter of your country and you get the list based on the search criteria.</p>
  <country-select-autocomplete></country-select-autocomplete>
  <h4>Search countires by continent</h4>
  <p>Click a continent you are intrested in and get the list of all related countries.</p>
</div>
<div class="world-map-container">
  <div class="world-map">
    <countries-world-map></countries-world-map>
  </div>
</div>