ul {
    list-style: none;
    background: linear-gradient( rgba(192, 212, 243, 0.836), white);
    display: flex;
    align-items: center;
    height: 65px;
    margin-bottom: 0px !important;
}

li {
    padding-right: 30px;
    color: rgb(139, 139, 139);
    font-size: 12pt;    
    text-transform: uppercase;
}

.active {
    color:black;
}

li:hover {
    color: black;
    cursor: pointer;
}

@media only screen and (max-width : 640px) {
    nav {
        display: grid;
        margin: 0px 0px;        
    }

    ul {
        background: none;
        display: block;
        height: auto;
    }

    li {
        font-size: 11pt;
    }
}