.select-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .select-full-width {
    width: 100%;
  }

  .flag {
    margin-right: 5px;
    width: 27px;
    height: 20px;
    float: left;
  }

  .flag img {
    vertical-align:middle; 
    border: 1px solid gainsboro;
    height: 100%; 
    width:100%; 
    object-fit: contain;
  }